.sidebar-link i {
    color: white;
}

p,
li,
a,
button,
span,
strong,
td,
th,
label {
    font-size: 11px !important;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    border: none;
}
.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable thead td {
    border: none;
}

.dataTables_paginate ul.pagination {
    background-color: #f0f0f0; /* light background */
    border-radius: 15px;
    padding: 5px 10px;
    display: inline-flex;
    gap: 6px;
}

.dataTables_paginate ul.pagination {
    background-color: var(--color-light-widget);
    border-radius: 15px;
    padding: 5px 10px;
    display: inline-flex;
    gap: 6px;
}

.dataTables_paginate ul.pagination li.page-item {
    border-radius: 20px;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.dataTables_paginate ul.pagination li.page-item a.page-link {
    color: var(--color-primary);
    padding: 6px 12px;
    border-radius: 20px;
}

.dark-mode .dataTables_paginate ul.pagination li.page-item a.page-link {
    color: white;
}

.dataTables_paginate ul.pagination li.page-item.active {
    background-color: var(--color-primary);
    border-color: var(--theme-secondary);
}

.dataTables_paginate ul.pagination li.page-item.active a.page-link {
    color: white;
    background: var(--theme-secondary) !important;
}

.dataTables_paginate ul.pagination li.page-item.disabled a.page-link {
    color: var(--color-alert-dark);
    cursor: default;
}

.dataTables_paginate ul.pagination li.page-item:not(.disabled):hover {
    border-color: var(--theme-secondary);
    background-color: #ddd;
}

.dataTables_paginate
    ul.pagination
    li.page-item:not(.disabled):hover
    a.page-link {
    color: white;
    text-shadow: none;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    font-size: 12px;
}
button {
    border-radius: 30px !important;
}
body.dark-only p,
body.dark-only span,
body.dark-only label,
body.dark-only strong,
body.dark-only small{
    color: white;
}
body.dark-only .chosen-container-single .chosen-single {
    background: linear-gradient(
        #000000 20%,
        #000000 50%,
        #000000 52%,
        #000000 100%
    );
}
body.dark-only .chosen-container .chosen-drop {
    background: #000;
}
body.dark-only .permission_block,
body.dark-only .module-header {
    background: #000000;
}

.action-btn {
    margin-right: 5px;
}

body.dark-only .form-control {
    color: white;
}
div.dataTables_wrapper div.dataTables_paginate {
    border: none;
}
